<a href="https://colab.research.google.com/github/zume2020/Python-Days/blob/master/Day_1_|_Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#This is called as 'Cell'. You can type your code here and execute

In [0]:
inp=input('Write something: ')
print(inp)

# [Student ]Task 2: Create a new cell take your name as input (myinp)and print it

In [0]:
myinp=input('Write your Name: ')
print(myinp)

# 2. Working with Data

** Numbers (int and float)**

In [0]:
print(100) # this is an integer number with whole or absolute value

In [0]:
print(100.00) #this is a float number with a decimal value. Usually used for denoting price or length

In [0]:
a=100
b=(1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000) # a and b are variables in which the numbers are stored.
#even this one is an integer. In python3 int and long are merged.

In [0]:
type(b) # To check the datatype of a variable

# [Student] Task 3: Now check the datatype of your input (myinp) created in Task 2

In [0]:
print(type(myinp))

In [0]:
a=100
b=98.99
print(type(a+b)) #add two numbers of different data types and see what happens?
print(type(a+a)) #add two numbers of same data type and see what happens?
a1='hello'
a+a1

** Characters or Strings **

In [0]:
mydata="Hello world!"
mynum1='7'
mynum2= 7
myday='01/12/1993'
mypass='12qw%3bvm'

In [0]:
mydata

In [0]:
type(mynum1)==type(mynum2) # is False. Why?

In [0]:
type(print()) #so what does mere print function return?

# [Student] Task 4: Can you create a text block below and define what is happening in the upcoming code cell?

In [0]:
print(type(print(print(10)))) 
type(print('hello world')) 
# can you guess this data structure? 
#hint: Stack or Queue?

** Variables **

From the above discussions, List what are the variables we have created. What are their data types? How did the datatype get assigned?

In [0]:
print(globals()) #lets print the global variables
output=(globals()) #What is happening after executing this segment?

In [0]:
type(output) #the output of the globals(), locals() and vars() is in dictionary type

In [0]:
output1=locals()

In [0]:
output2=vars()

In [0]:
output==output1 #How and why?

Explore the difference between vars(), globals() and locals()

# Operators in Python


*   Arithmetic Operators
*   Assignment Operators
* Comparison Operators
* Logical Operators
* Bitwise Operators
* Identity Operators
* Membership Operators

In [0]:
# Arithmetic operators
num1=10
num2=50
print('addition',num1+num2)
print('subtraction',num1-num2)
print('multiplication',num1*num2)
print('division',num1/num2)
print('modulo',num2%num1)

In [0]:
#Assignment operators
num1=10
num=num1 #assign value of num1 to num
print('The value of num is:',num)

num+=num1 #is equal to num+num1
print('The value of num is:',num)

num-=num1 #is equal to num-num1
print('The value of num is:',num)

num*=num1 #is equal to num*num1
print('The value of num is:',num)

num/=num1 #is equal to num / num1
print('The value of num is:',num)

num%=num1 #is equal to num % num1
print('The value of num is:',num)

#Check the value of num now
print(num) # the value of num has been changing. why?

#let num=88 now
num=88
num**=num1 #is equal to num exponent power num1
print('The value of num is:',num)

num//=num1 #is equal to num floor divide with num1
print('The value of num is:',num)

In [0]:
#Comparison Operators

#the output will be Either true or False based on the condition

num1='7'
num2=7
num3=7.0

print('num1 and num2 same?', num1==num2) #Checks whether num 1 is equal to num2
print('num2 and num3 same?', num2==num3)


print('num1 and num2 different?', num1!=num2) #Checks whether num 1 is not equal to num2
print('num2 and num3 different?', num2!=num3)

In [0]:
print('num2 is greater than or equal to num3: ',num2>=num3) #checks whether a number num2 is greater than equal to num3

# Try others:

In [0]:
#Logical Operators

#note: inputs to the logical operators should be logical 'True' or 'False'

inp1=True
inp2=False
inp3=True

print('input1 and input 2:',inp1 and inp2) #and operator
print('input1 and input 3:',inp1 and inp3)



print('input1 or input 2:',inp1 or inp2) #or operator
print('input1 or input 3:',inp1 or inp3)


print('not input 2:',not inp2) #not operator
print('not input 3:',not inp3)

In [0]:
#Bitwise Operators

inp1 = 5
inp2= 8

# find the binary notation of inp1 and inp2

print('The binary value of inp1 is',"{0:b}".format(inp1)) #converts 
print('The binary value of inp2 is',"{0:b}".format(inp2))

(inp1 | inp2)

In [0]:
#special operators

#hint: id()

num1=1008
num2=num1
num3=1008
print(num1 is num2)
print(num2 is num3)
print(num1 is num3) #Why?

#Try is not operator
print(id(num1))
print(id(num2))
print(id(num3))

In [0]:
#Membership operator

#lets create a list
a=[1,'ram', '01/11/25',908666567]

'01/11/25' not in a #Check whether Ram is in the list a

#also try not in

# Strings

In [0]:
#Create a String

str1= "Hello"
str2='world'
str3='007'

#String concatenation
print('Concatenation',str1+str2+str3) #How to bring spaces in between? Explore google


#String repetition
t=5 #times to repeat 

print(str1*1)


#String Slicing

print(str1[1]) #indexing starts from 0

print(str1[2:5]) #slicing 

#indexing

print(str1.index('e')) #find index of a character


print(str1[::-1]) #Print in Reverse

In [0]:
#Strings are immutable why?

str1[0]='m' 
print(str1)#expected output is mello

# Tuples

In [0]:
#create a tuple

tup1=['xen.ai','30/10/2018','Vaishali','python',1]
tup1=tuple(tup1)
type(tup1)

In [0]:
#Access values in a tuple
print(tup1[1]) #indexing starts from 0

#index

print(tup1.index('python'))

print(tup1+tup1) #Concatenation

In [0]:
#immutability check

#pop an element

tup1.pop()
tup1[1]=100

# Lists

In [0]:
#Create a list

lst1=[1,3,6,4,8,8]

lst2=[100,56,88,59,800]

In [0]:
lst1.pop()
print(lst1)

In [0]:
lst1.insert(3,10)
print(lst1)

In [0]:
lst1.append(9)
print(lst1)

Dictionary

In [0]:
dict1={1:["ram",99,98,80,77],2:["anu",56,89,56,88],3:["naresh",0,0,0,0,0]}

In [0]:
dict1[1][2]

In [0]:
set1= {1,2,3,4}
set2={5,4,9,0}
set1.difference(set2)