<a href="https://colab.research.google.com/github/zume2020/Python-Days/blob/master/Day_2_|_More_with_python_|_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 2 : Python for Data Science
* Conditional statements
* Functions
* Classes
* Regular Expressions
* numpy

In [2]:
lst=[1,2,56,78,34]
for i in lst:
  print(i)

1
2
56
78
34

In [3]:
#how to apply operators in Genetic Engineering

id=['c1','c2','c3','c4']
d1=[True, False,True,True]
d2=[False,False,True,True]

d=d1 and d2
print(d)

cdict={}

for i in range(0,len(id)):
  cdict[id[i]]=d[i]

print(cdict)

[False, False, True, True]
{'c1': False, 'c2': False, 'c3': True, 'c4': True}

In [0]:
cdict['c3']

# 1.  if condition

In [0]:
#check whether a number is 5
a=6
if (a==5):
  print('its five')

# 2. if else

In [0]:
#if a condition is not satisfied, there should be another condition to handle it. So we use else

a=5
if (a==5):
  print(a+5)
else:
  print('its not five')

#3.  if elif else

In [0]:
a=5
if (a==5):
  print('its five')
elif (a==50):
  print('its fifty')
else:
  print('i dont know')

# 4. While do

In [0]:
start=10
end=0
while(start>end):
  print(start)
  start=start-1 #what will happen if you remove this line?

# 5. For loop

In [4]:
start=0
end=10
for start in range(0,end): #initialization, range and updation happens in one line
  print((start*2)+1)

1
3
5
7
9
11
13
15
17
19

# Functions


---

In [5]:
def addition(num1,num2):
  return num1+num2

o1=addition(2,4)
o2=addition(2.5,6.7)
o3=addition('hi','hello')

print(o1)
print(o2)
print(o3)

6
9.2
hihello

In [9]:
#to define a function in python, the key word def is used. Function is a set of procedures.

def biodata(name,age,year): #usage of colon is neccessary
  print('My name is ', name)
  print('My age is ',age)
  print('I will be',age+1,' years old next year')
  print('I was born in the year ',year)
  
#call the function
biodata('sumi',20,2015)

My name is  sumi
My age is  20
I will be 21  years old next year
I was born in the year  2015

In [0]:
#you have to supply inputs to a function
name='dummy'
age=0
year=2018

#pass variables as arguments

biodata(name,age,year) # inputs to a function is called as arguments.

In [0]:
#you have to supply inputs to a function
name=input('print your name:') #Take user input to the variable
age=int(input('print your age:'))
year=int(input('print the year of birth:'))

print('YOUR DETAILS \n ************')

#pass variables as arguments

biodata(name,age,year) # inputs to a function is called as arguments.

# Class

A class is a collection of properties and methods/functions.

In [0]:
class arithmetic():
  def __init__(self,num1,num2,name):
    self.num1=num1
    self.num2=num2
    self.name=name
    
  def addition(self):
    return self.num1+self.num2
  
  def printname(self):
    return self.name

In [14]:
output=arithmetic(6,7,'Ram')
print(output.addition())
print(output.printname())

13
Ram

In [0]:
class student():
  def __init__(self,name,father):
    self.name=name
    self.father=father
    
  def details(self):
    print('my name is',self.name)
    print('my father is',self.father)
    
#   def father(self):
#     print('my father\'s name is',self.father)

In [22]:
std=student('ram','babu')
std.details()

my name is ram
my father is babu

# Regular Expressions

Split a string with Regular expression

In [23]:
#create a string and split words based on numbers

import re #dont forget to import this
str="my name is ram"

ns=re.split(r'\s',str) # \d will split words based on numbers
print(ns)

['my', 'name', 'is', 'ram']

In [0]:
str1="01/12/1993"

ns=re.split(r'\/',str1) # \d will split words based on numbers
print(ns)

type(ns)

In [0]:
str2="01T12T1993"

ns=re.split(r'T',str2) # \d will split words based on a character
print(ns)

In [0]:
str3="my name is Ram"

ns=re.split(r'\s',str3) # \d will split words based on numbers
print(ns)

# Activity 1: Split a string with regular expression

**Explore how to split a string "hello" into [ 'h' , 'e' , 'l' , 'l' , 'o' ]**

In [0]:
#one solution

str='hello'
lst=[]
for i in range(0,len(str)):
  lst.append(str[i])

In [0]:
lst

In [0]:
#write your regular expression to split str and store it as lst1
lst1=[]
#your code here

#Test code
check=(lst==lst1)
if (check==1):
  print('correct')
else: 
  print('Try again') #Try until you get correct as output

Extract a substring from a string of phone numbers

In [0]:
import re
phone = "#2004-()959-559&" # Phone Number

# extract only the phone number
num = re.sub(r'\D', "", phone)
print ("phone number", num)

**Extract text from a paragraph**

using findall()

In [0]:
import re
NameAge = """Tara is 22 and Mahesh is 31
              Seema is 27 and Sanjeev is 32
              Megha is 23 and Narendra is 42"""


ages = re.findall(r'\d{1,2}', NameAge)
names = re.findall(r'[A-Z][a-z]*', NameAge)
names

ageDict = {}
x = 0

for each in names:
    ageDict[each] = ages[x]
    x+= 1
    
#print(ageDict)
ageDict

In [0]:
#find how many times the sub string 'and' appears in a paragraph

pattern='and'
text='operand and operators are fascinating topics. most of the time people with wands and lands need not learn about these topics'
allinform = re.findall(pattern, text)
print('the word',pattern,'appears',len(allinform),'times in the text')

In [0]:
inp  = "hat rat matrix pat"
regex = re.compile("mat")
inp = regex.sub("myt", inp)
print(inp)

In [0]:
data='+1000067'
regex=re.compile("\+")
data=regex.sub("",data)
print(data)

In [0]:
str = 'Abdul  is a great man'
match = re.search(r'kalam', str)
if match:
  print('found')
else:
  print('not found')

# Activity 2

Let there exist a list of adverstisement codes say adlist= ['ad101','ad765','ad875875']

I need output as [101,765,875875]


**other hints **

* \b --> backspace
* \f --> formfeed
* \r --> carriage return
* \t --> Tab
* \v --> Vertical tab

# Email Matching

In [0]:
email=input('Enter some email ids:')
print(" Matched Email ids:", (re.findall("[\w]{1,20}@[\w.-]{2,20}[A-Za-z]{2,3}", email)))

# Web Scraping

In [0]:
import urllib.request
from re import findall


url = "http://www.summet.com/dmsi/html/codesamples/addresses.html"

response = urllib.request.urlopen(url)

html = response.read()
htmlStr = html.decode()
pdata = findall("\(\d{3}\) \d{3}-\d{4}", htmlStr)

pdata

In [0]:
import re
#now lets scrap mail ids from xen.ai website
import urllib.request
from re import findall


url = "https://xen.ai/contact/"

response = urllib.request.urlopen(url)

html = response.read()
htmlStr = html.decode()
mail=re.findall("[\w]{1,20}@[\w.-]{2,20}[A-Za-z]{2,3}", htmlStr)
print(mail)

**Numpy**

* In the above regular expression example there is a repetition in the elements. how to find unique elements in a list?

* numpy offers solutions for such problems  faced by the programmers

use the below command to install numpy in your ide 

#pip install numpy

In [0]:
#extract unique elements

import numpy as np
#mail=np.array(mail) #convert a list to array
mail=np.unique(mail) #unique elements are stored in a array
for i in mail:
  print(i)

In [0]:
lst=[1,2,78,97,455]
print('add 1 to all list elements',np.add(lst,1))
print('multiply 2 to all list elements',np.multiply(lst,2))
print('subtract 1 with all list elements',np.subtract(lst,1))

In [0]:
print(np.arange(100))

In [0]:
a = np.array([(1,2,3),(4,5,6), (7,8,9)])
print(a.shape)

In [0]:
ar=np.array((1,2,3,4))
ar.size

In [0]:
a = np.array([(1,2,3),(4,5,6)])
print(a.ndim)

In [0]:
a = np.array([(1,2,3,4),(5,6,7,8)])
print(a)
print(a.reshape(4,2))

In [0]:
#slicing
print(a[0,2])

In [0]:
a = np.linspace(1,3,5)
print(a)

In [0]:
a = np.array([1,2,3])
print("The max value in numpy a is ",a.max())
print("The min value in numpy a is", a.min())
print("The sum of all values in numpy a is", a.sum())

In [0]:
a = np.array([(1,2,3),(4,5,6)])
print("Sum of elements along rows",a.sum(axis=0))
print("Sum of elements along columns", a.sum(axis = 1))

In [0]:
print("Square root of each element of numpy array a is",np.sqrt(a))

In [0]:
print("Standard deviation (deviation from mean) of numpy array a is",np.std(a))

In [0]:
a = np.array([(1,2,3,4), (5,6,7,8)])
b = np.array([(1,2,3,4), (5,6,7,8)])
print("Addition of a,b is", a + b)
print("Subtraction of a,b is", a - b)
print("Division of a,b is", a/b)
print("Multiplication of a,b is", a*b)

In [0]:
print(np.vstack((a,b)))
print(np.hstack((a,b)))

In [0]:
print(a.ravel()) #converts to single row

In [0]:
x = np.array([1, 2 , 3])
y = np.exp(x)    # The value of "e" is 2.7828 #exponent
print(y)

In [0]:
y = np.log(x)   # "np.log" means log base e also known as "ln"
print(y)

In [0]:
y = np.log10(x)
print(y)



---